# OpenAI developer API key found here: https://platform.openai.com/api-keys
OPENAI_API_KEY = 

# Discord developer API key found here: https://discord.com/developers/applications
DISCORD_API_KEY = 

# Discord channel ID for PLC Bot:
DISCORD_GENERAL_CHANNEL = 
DISCORD_PLC_BOT_CHANNEL = 
